# =========================
# Python / Backend
# =========================

backend/myenv/
backend/venv/

__pycache__/
*.pyc
*.pyo
*.pyd

backend/.env
.env


# =========================
# Frontend
# =========================

frontend/node_modules/


# =========================
# Logs
# =========================

*.log


# =========================
# Docker
# =========================

.dockerignore


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db


# =========================
# VS Code
# =========================

.vscode/